.menu .active > a,
.tag,
.tabs-title > a:hover,
.button,
.button.primary {
    background-color: #3497c5;
}

.tabs-title > a {
    font-size: 0.9rem;
}
.tabs-title > a:hover {
    background: aliceblue;
    color: #0a0a0a;
}
.tabs-title > a:focus,
.tabs-title > a[aria-selected='true'] {
    color: #0a0a0a;
    background: #e6e6e6;
}

h2 {
    color: rgb(0,124,130);
}

.button.primary:hover,
.button.primary:focus,
.button.hover,
.button:hover,
.button:focus,
.button:active {
    background: #2f5767;
}

/* end */