#gxaGeneDistributionPanel .legend table {
    border: none;
    width: auto;
}

#gxaGeneDistributionPanel .legend table td.legendColorBox {
    border-right: none;
}

#gxaGeneDistributionPanel .legend table td.legendLabel {
    border-left: none;
}


#gxaSliderAndChart .ui-button {
    border: 1px solid lightgrey;
}

#gxaSliderAndChart .ui-button-text {
    padding: 2px;
    margin: 0;
}


