.gxaDifferentialCellTooltip {
    border: solid transparent;
    color: darkslategray;
    padding: 2px;
    font: 10px Verdana, Helvetica, Arial, sans-serif;
}

.gxaDifferentialCellTooltip table {
    background-color: white;
    border: 1px solid lightgrey;
    border-collapse: collapse;
}

.gxaDifferentialCellTooltip th {
    border-bottom: 1px solid lightgrey;
    background-color: floralwhite;
}

.gxaDifferentialCellTooltip td, .gxaDifferentialCellTooltip th {
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    padding: 8px;
    width: 25px;
}
