.gxaWebpackShowCell {
    background-color: white;
    margin: 4px;
    padding: 2px;
    white-space: nowrap;
    text-align: center;
}

.gxaWebpackHideCell {
    display: none;
    visibility: hidden;
}
