.gxaShowCell {
    font-size: 9px;
    background-color: white;
    margin: 4px;
    padding: 2px;
    white-space: nowrap;
    text-align: center;
}

.gxaHideCell {
    display: none;
    visibility: hidden;
}
