.gxaTableGrid {
    color: #404040;
    background-color: white;
    border: 1px solid #cdcdcd !important;
    border-spacing: 0;
    empty-cells: show;
    height: 100%;
    text-align: left;
    width: auto;
    border-collapse: collapse;
}

.gxaTableGrid>tbody>tr>td, .gxaTableGrid>thead>tr>td {
    color: #3D3D3D;
    vertical-align: middle;
    border: 1px solid #cdcdcd !important;
    height: 25px;
    width: 25px;
    white-space: nowrap;
}

.gxaHeaderCell {
    background-color: rgb(237, 246, 246) !important;
    font-weight: bold;
    padding-left: 5px;
    padding-right: 5px;
}

/* needed for span inside header-cell that is added by React */
.gxaHeaderCell span {
    font-weight: bold;
}

.gxaHeaderCell:hover {
    background-color: #deebeb !important;
    cursor: pointer;
    *cursor: hand;
}

.gxaHelpTooltip {
    background: #fafafa;
    border: 1px solid #2777A5 !important;
    padding: 4px;
    max-width: 400px !important;
    color: #2777A5;
    border-radius: 4px;
    font: 10px Verdana, Helvetica, Arial, sans-serif;
    box-shadow: 0 0 7px gray;
}

.gxaPvalueTooltipStyling {
    padding: 2px !important;
    margin: 0 !important;
}