.gxaHelpTooltip {
    background: #fafafa;
    border: 1px solid #2777A5 !important;
    padding: 4px;
    max-width: 400px !important;
    color: #2777A5;
    border-radius: 4px;
    font: 10px Verdana, Helvetica, Arial, sans-serif;
    box-shadow: 0 0 7px gray;
}

/* JQuery UI overrides: start */
.ui-tooltip {
    background: #FAFAFA;
    border: 1px solid #2777A5 !important;
    padding: 4px;
    max-width: 400px !important;
    color: #2777A5;
    border-radius: 4px;
    font: 10px Verdana, Helvetica, Arial, sans-serif;
    box-shadow: 0 0 7px gray;
}

.ui-button {
    border-bottom: 1px solid #cccccc !important;
}

#download-profiles-link .ui-button-text {
    padding: 0;
}

.ui-button:hover, .ui-button:active {
    border: 1px solid #fbd850 !important;
}

.fancybox-close {
    border: 0 !important;
}

/* JQuery UI overrides: end */

.gxaThickLink {
    font-weight: bold;
}

#download-profiles {
    background: transparent url('../images/download_blue_small.png');
}

.gxaButtonImage {
    background: no-repeat center;
    cursor: pointer;
    padding: 2px !important;

}

/****  STYLING FOR BUTTONS IN GENE SET TYPE ANALYSIS PLOTS *****/

#reactomeButtonID.tool-item:last-child {
    border-bottom: 1px;
}

/**** END ANALYSIS PLOTS STYLING **/


.gxaBlock {
    padding-top: 1em;
    min-height: 0 !important;
}

/* selected link */

div.gxaDoubleClickNoSelection {
    -webkit-user-select: none;
    -ms-user-select: none;
}

/* Sensible minimum heights for small and large screens */
@media screen and (min-height: 600px) {
    div#wrapper {
        min-height: 250px;
    }
}

@media screen and (min-height: 1000px) {
    div#wrapper {
        min-height: 450px;
    }
}

/* help tooltip */
a.help-icon {
    color: rgb(255, 82, 0) !important;
    vertical-align: top;
    font-size: 10px !important;
    font-weight: bold !important;
    font-family: Verdana, Helvetica, Arial, sans-serif !important;
    background: rgba(250, 250, 202, 0.28);
}

a.ext, a.ext:link {
    padding-left: 13px;
    background: url(../images/ico_ext_link.png) no-repeat 0 2px;
}

a.ext:hover, a.ext:active, a.ext:focus {
    background: url(../images/ico_ext_link_on.png) no-repeat 0 2px;
}

span.gxaGenePropertyLabel {
    color: brown;
    font-weight: bold;
    display: inline-block;
    text-align: left;
}

.gxaPropertyValueMarkup {
    text-align: center;
    background-color: rgb(223, 213, 213);

}

.gxaGeneNameTooltip {
    text-align: justify;
}


