.gxaSvg #anatomogram {
    display:inline
}

.gxaHeatmapAnatomogramRow {
    position: relative;
}

.gxaHeatmapAnatomogramRow:after {
    clear: both;
    content: ".";
    display: block;
    visibility: hidden;
}

.gxaInnerHeatmap {
    position: relative;
    overflow: hidden;
}

.gxaAside {
    float: left;
    /*padding: 0 20px;*/
}

.gxaGradientLevelMin {
    text-align: right;
}

.gxaGradientLevelMax {
    text-align: left;
}

.gxaHeatmapMatrixTopLeftCorner {
    position: relative;
    display: table;
    height: 110px;
    width: 100%;
    min-width: 160px;
}

#display-levels {
    margin-top: 40px;
}

#tooltip-span {
    display: block;
    position: absolute;
    top: 0;
    margin: 5px;
}

.gxaPvalueTooltipStyling {
    padding: 2px !important;
    margin: 0 !important;
}

#ensembl-launcher-box {
    border: 1px solid #cdcdcd;
}

#ensembl-launcher-box-ensembl, #ensembl-launcher-box-gramene {
    padding: 4px 9px;
}

#ensembl-launcher-box-ensembl label, #ensembl-launcher-box-gramene label {
    font-weight: bold;
    font-family: Helvetica, sans-serif;
}

#ensembl-launcher-box-ensembl button, #ensembl-launcher-box-gramene button {
    display: table;
    margin: 0 auto;
}

.gxaAnatomogramSpeciesLabel {
    width: 245px;   /* Width of gxaHeatmapPosition margin minus anatomogram buttons width */
}

.gxaAnatomogramSpeciesLabel h5 {
    text-align: center;
    /*white-space: nowrap;*/
}

.gxaAnatomogramSpeciesLabel h5::first-letter {
    text-transform: uppercase;
}