.gxaTableGrid {
    color: #404040;
    background-color: white;
    border: 1px solid #cdcdcd !important;
    border-spacing: 0;
    empty-cells: show;
    height: 100%;
    text-align: left;
    width: auto;
    border-collapse: collapse;
}

.gxaTableGrid>tbody>tr>td, .gxaTableGrid>thead>tr>td {
    color: #3D3D3D;
    vertical-align: middle;
    border: 1px solid #cdcdcd !important;
    height: 25px;
    width: 25px;
    white-space: nowrap;
}

th.gxaVerticalHeaderCell, .gxaHorizontalHeaderCell {
    font-weight: normal;
    background-color: rgb(237, 246, 246) !important;
}

th.gxaEmptyMultipleHeatmapHeaderFactor {
    background-color: rgb(237, 246, 246) !important;
    border-right: 1px solid #CEC2C2;
    border-bottom-color: rgb(237, 246, 246);
    border-bottom-width: 1px;
    border-top: 1px solid #CEC2C2;
    border-left: 1px solid #CEC2C2;
}

th.gxaHoverableHeader:hover, th.gxaHeaderHover {
    background-color: #deebeb !important;
}

th.gxaSelectableHeader:hover {
    cursor: pointer;
}

th.gxaVerticalHeaderCell-selected, th.gxaVerticalHeaderCell-selected:hover, th.gxaHorizontalHeaderCell-selected, th.gxaHorizontalHeaderCell-selected:hover {
    background-color: rgb(181, 234, 234) !important;
    border: 1px solid #cdcdcd;
    padding:5px;
}

th.gxaHorizontalHeaderCell {
    border: 1px solid #cdcdcd;
    white-space: nowrap;
    padding:5px;
    text-align: left !important;
}

tr.gxaProteomicsExperiment td.gxaHorizontalHeaderCell {
    background-color: rgb(210, 233, 233) !important;
}

tr.gxaProteomicsExperiment td.gxaHorizontalHeaderCell-selected, tr.gxaProteomicsExperiment td.gxaHorizontalHeaderCell:hover {
    background-color: rgb(200, 220, 220) !important;
}

.gxaHeatmapCell {
    font-size: 9px;
    background-color: white;
    margin: 4px;
    padding: 2px;
    white-space: nowrap;
    text-align: center;
}

.gxaShowCell {
    font-size: 9px;
    background-color: white;
    margin: 4px;
    padding: 2px;
    white-space: nowrap;
    text-align: center;
}

.gxaHideCell {
    display: none;
    visibility: hidden;
}

.csstransforms .rotated_cell {
    height: 130px;
    border: 1px solid #cdcdcd;
    vertical-align: bottom;
    padding-bottom: 10px
}

.csstransforms .rotate_text {
    position: relative;
    top: 27px;
    width: 25px;
    padding-top: 5px;
    white-space: nowrap;
    -moz-transform: rotate(-90deg);
    -moz-transform-origin: top left;
    -ms-transform: rotate(-90deg);
    -ms-transform-origin: top left;
    -webkit-transform: rotate(-90deg);
    -webkit-transform-origin: top left;
    -o-transform: rotate(-90deg);
    -o-transform-origin: top left;
}

.csstransforms .rotate_tick {
    -moz-transform: rotate(-270deg);
    -webkit-transform: rotate(-270deg);
    -ms-transform: rotate(-270deg);
    -o-transform: rotate(-270deg);
}

th.gxaHeatmapTableDesignElement {
    font-weight: normal;
    text-align: left;
    border: 1px solid #CDCDCD;
}

.gxaHeatmapCountAndLegend {
    background-color: white;
}

.gxaStickyTableWrap {
    overflow-x: auto;
    overflow-y: hidden;
    position: relative;
    width: 100%;
}

.gxaStickyTableWrap div[class^='gxaSticky'] {
    overflow: hidden;
}
.gxaStickyTableWrap tfoot {
    display: none;
}
.gxaStickyTableWrap div table {
    margin: 0;
    position: relative;
    width: auto; /* Prevent table from stretching to full size */
    border-collapse: collapse;
}
.gxaStickyTableWrap .gxaStickyTableHeader,
.gxaStickyTableWrap .gxaStickyTableColumn,
.gxaStickyTableWrap .gxaStickyTableIntersect {
    visibility: hidden;
    position: fixed;
    z-index: 40;
}
.gxaStickyTableWrap .gxaStickyTableHeader {
    z-index: 50;
    width: 100%; /* Force stretch */
}
.gxaStickyTableWrap .gxaStickyTableIntersect {
    z-index: 60;
}
.gxaStickyTableWrap td,
.gxaStickyTableWrap th {
    box-sizing: border-box;
}
.gxaStickyTableWrap thead th {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}
.gxaStickyEnabled {
    margin: 0;
    width: auto;
}

.wrapper-sticky {
    z-index: 45;
}

/* To hide sticky column and intersect when screen gets too narrow */
@media only screen and (max-width: 768px) {
    .gxaStickyTableColumn, .gxaStickyTableIntersect {
        display: none;
    }
}
