.gxaHelpTooltip {
    width: 33% !important;
    left: 700px;
    font-size: 14px !important;
    background: white;
    border-width: 1px !important;
    border: solid cornflowerblue;
    padding: 4px;
    color: cornflowerblue;
}

a.help-icon {
    color: cornflowerblue;
    vertical-align: top;
    font-weight: bold;
    font-size: smaller;
    padding-left: 0.25rem;
}
