target
**/target
*.iml
**/*.iml
_idea
.idea
.idea-files
.project
.settings/
web/src/main/resources/log4j.xml
web/src/test/resources/log4j.xml 
web/bin
web/.classpath
web/.project
web/.settings/
.DS_Store
node_modules/
.module-cache
