[submodule "base/src/test/resources/schemas"]
	path = base/src/test/resources/schemas
	url = https://github.com/ebi-gene-expression-group/atlas-schemas.git
[submodule "gxa/src/test/resources/schemas"]
	path = gxa/src/test/resources/schemas
	url = https://github.com/ebi-gene-expression-group/atlas-schemas.git
[submodule "sc/src/test/resources/schemas"]
	path = sc/src/test/resources/schemas
	url = https://github.com/ebi-gene-expression-group/atlas-schemas.git
[submodule "gxa/src/main/javascript/modules/species-summary-panel"]
	path = gxa/src/main/javascript/modules/species-summary-panel
	url = https://github.com/ebi-gene-expression-group/species-summary-panel.git
[submodule "sc/src/main/javascript/modules/species-summary-panel"]
	path = sc/src/main/javascript/modules/species-summary-panel
	url = https://github.com/ebi-gene-expression-group/species-summary-panel.git
[submodule "gxa/src/main/javascript/modules/experiments-summary-panel"]
	path = gxa/src/main/javascript/modules/experiments-summary-panel
	url = https://github.com/ebi-gene-expression-group/experiments-summary-panel.git
[submodule "sc/src/main/javascript/modules/experiments-summary-panel"]
	path = sc/src/main/javascript/modules/experiments-summary-panel
	url = https://github.com/ebi-gene-expression-group/experiments-summary-panel.git
