target
**/target
*.iml
**/*.iml
_idea
.idea
.idea-files
.project
.settings/
web/src/main/resources/log4j.xml
web/src/test/resources/log4j.xml 
web/bin
web/.classpath
web/.project
web/.settings/
web/src/test/resources/serialized_expression
.DS_Store
.module-cache
npm-debug.log
web/src/main/**/node_modules
web/src/main/javascript/**/dist
