/*
  Colour palette: EMBL-EBI Petrol
*/

a {
    color: #222;
}

a.label,
.label,
a:hover,
a:focus,
a:active {
    color: rgb(0,124,130);
}

h1 { color: #f7f7f7; }
h2 { color: rgb(0,124,130); }
h3 { color: #444444; }

a.special { background-color: #7cd17c; }

.menu .active > a,
.tag,
.button,
.button.primary {
    background-color: #3497c5;
}
.button.primary:hover,
.button.primary:focus,
.button:hover,
.button:focus,
.button:active { background: #2f5767; }

div#local-masthead { background-color: rgb(0,124,130); }

/* end */
