<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout>
                <Pattern>%d %-5p [%t] %C{2} (%F:%L) - %m%n</Pattern>
            </PatternLayout>
        </Console>

        <RollingRandomAccessFile name="DailyRollingFile" fileName="${sys:catalina.base}/logs/atlas.log" filePattern="${sys:catalina.base}/logs/atlas-%d{yyyy-MM-dd-HH}.log">
            <PatternLayout>
                <Pattern>%d %-5p [%t] %C{2} (%F:%L) - %m%n</Pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
            </Policies>
        </RollingRandomAccessFile>
    </Appenders>

    <Loggers>
        <Logger name="uk.ac.ebi.atlas" level="info" additivity="false" includeLocation="true">
            <AppenderRef ref="DailyRollingFile"/>
        </Logger>

        <Logger name="uk.ac.ebi.atlas.web.interceptors.AdminInterceptor" level="info" additivity="false" includeLocation="true">
            <AppenderRef ref="DailyRollingFile"/>
            <AppenderRef ref="Console"/>
        </Logger>

        <Logger name="uk.ac.ebi.atlas.utils.spring.servlet.view.TilesExposingBeansView" level="info" additivity="false" includeLocation="true">
            <AppenderRef ref="DailyRollingFile"/>
            <AppenderRef ref="Console"/>
        </Logger>

        <Root level="error" includeLocation="true">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="DailyRollingFile"/>
        </Root>
    </Loggers>
</Configuration>
