<configuration>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${catalina.base}/logs/${tomcat.hostname}/sc-atlas.log</file>

        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${catalina.base}/logs/${tomcat.hostname}/sc-atlas/sc-atlas.%d{yyyy-MM-dd}.log</fileNamePattern>
        </rollingPolicy>

        <!-- encoders are assigned the type ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger - %msg%n</pattern>
            <immediateFlush>${log.flush}</immediateFlush>
        </encoder>
    </appender>

    <root level="${log.level.root}"/>

    <logger name="uk.ac.ebi.atlas" level="${log.level.atlas}" additivity="false"/>

</configuration>
