.gxaTooltip {
  border: solid transparent;
  color: darkslategray;
  padding: 2px;
  font: 10px Verdana, Helvetica, Arial, sans-serif;
  background-color: floralwhite;

  table {
      margin: 0; /* overrides ebi-visual.css:134 */
      background-color: white;
      border: 1px solid lightgrey;
      border-collapse: collapse;
  }

  th {
      border-bottom: 1px solid lightgrey;
      background-color: floralwhite;
  }

  td {
      border: 1px solid lightgrey;
  }

  td, .gxaTooltip th {
      vertical-align: middle;
      padding: 8px;
  }
}

.gxaGeneTooltip {
  .gxaTooltip;
  max-width: 250px;

  .propertyName {
    color: brown;
    font-weight: bold;
    display: inline-block;
    text-align: left;
    margin-right: 5px;
  }
  .propertyValue {
    display: inline-block;
    text-align: center;
    background-color: rgb(223, 213, 213);
    &:first-child {
      margin-left:5px;
    }
  }

  .propertyValue + .propertyValue {
    margin-left: 5px
  }

  text-align: justify;
}

.gxaContrastTooltip {
    .gxaTooltip;
    max-width: 500px;
    display: inline-block; 

    .contrastPlots {
      .info {
        font-style: italic;
        font-size: xsmall;
        align-content: right;
        text-align: right;
      }
    }
}

.gxaFactorTooltip {
    .gxaTooltip;
    max-width: 600px;
}
