.gxaBioentityInformationCard {
    background: white;
    font-family: Verdana, sans-serif;
    margin-top: 20px;
}

.gxaBioentityInformationCardPropertyType {
    font-size: 14px;
    font-family: Verdana, Helvetica, Arial, sans-serif !important;
    font-weight: bold;
    width: 155px;
    vertical-align: top;
}

.gxaBioentityInformationCardPropertyValue {
    font-size: 12px;
    font-family: Verdana, Helvetica, Arial, sans-serif !important;
}
