.gxaBioentityInformationCard {
    margin-top: 20px;
}

.gxaBioentityInformationCard table {
    margin: 0;
    border: none;
}

td.gxaBioentityInformationCardPropertyType {
    font-size: 14px;
    font-weight: bold;
    white-space: nowrap;
    padding-right: 0.5em;
    border:none;
}

.gxaBioentityInformationCardPropertyValue {
    border: none;
}
