.gene_title {text-align:center; font-size:70%; border:0px red solid;}

#container {min-width: 410px; min-height: 210px; /*avoid line overlap*/margin: 0 auto; border:0px red solid;}

#barcharts_legend_list_items {color:#606060; margin-left: 180px; margin-top:-9px; border: 0px solid olive;position:absolute;}
.col_below {background:#d7d7d7;}
.col_low {background: #dff8ff;}
.col_med {background: #9fd2fa;}
.col_high {background: #45affd;}
.col_nd {background: #fff;}
#barcharts_legend_list_items .legend-item {cursor: pointer;  vertical-align: middle;display:inline-block; padding:4px;}
#barcharts_legend_list_items .legend-item:hover {color:black;}
#barcharts_legend_list_items .legend-item.legend-item-off {color:#ccc;}
#barcharts_legend_list_items .legend-item.legend-item-off div {background-color: #f7f7f7;}
#barcharts_legend_list_items .legend-item.special {cursor:default;margin-left:36px;color:black;}

#barcharts_legend_list_items .legend-item .legend-rectangle {width: 12px;height: 12px; border:1px rgba(0, 0, 0, 0.2) solid;float:left;margin-right:4px;}


#barcharts_legend_list_items .legend-item  .icon-generic:before {
    font-size: 180%;
    color: #7e7e7e;
}

#barcharts_legend_list_items .legend-item:hover .icon-generic:before {color:#353535;}

/*****************************************EBI font*******************************************************/
@font-face{font-family:'EBI-Conceptual';src:url('http://www.ebi.ac.uk/web_guidelines/fonts/EBI-Conceptual/fonts/EBI-Conceptual.eot');src:url('http://www.ebi.ac.uk/web_guidelines/fonts/EBI-Conceptual/fonts/EBI-Conceptual.eot?#iefix') format('embedded-opentype'),
url('http://www.ebi.ac.uk/web_guidelines/fonts/EBI-Conceptual/fonts/EBI-Conceptual.woff') format('woff'),
local('☺'),
url('http://www.ebi.ac.uk/web_guidelines/fonts/EBI-Conceptual/fonts/EBI-Conceptual.svg#EBI-Conceptual') format('svg'),
url('http://www.ebi.ac.uk/web_guidelines/fonts/EBI-Conceptual/fonts/EBI-Conceptual.ttf') format('truetype');font-weight:normal;font-style:normal}


@font-face{font-family:'EBI-Functional';src:url('http://www.ebi.ac.uk/web_guidelines/fonts/EBI-Functional/fonts/EBI-Functional.eot');src:url('http://www.ebi.ac.uk/web_guidelines/fonts/EBI-Functional/fonts/EBI-Functional.eot?#iefix') format('embedded-opentype'),
url('http://www.ebi.ac.uk/web_guidelines/fonts/EBI-Functional/fonts/EBI-Functional.woff') format('woff'),
local('☺'),
url('http://www.ebi.ac.uk/web_guidelines/fonts/EBI-Functional/fonts/EBI-Functional.svg#EBI-Functional') format('svg'),
url('http://www.ebi.ac.uk/web_guidelines/fonts/EBI-Functional/fonts/EBI-Functional.ttf') format('truetype');font-weight:normal;font-style:normal}

@font-face{font-family:'EBI-Generic';src:url('http://www.ebi.ac.uk/web_guidelines/fonts/EBI-Generic/fonts/EBI-Generic.eot');src:url('http://www.ebi.ac.uk/web_guidelines/fonts/EBI-Generic/fonts/EBI-Generic.eot?#iefix') format('embedded-opentype'),
url('http://www.ebi.ac.uk/web_guidelines/fonts/EBI-Generic/fonts/EBI-Generic.woff') format('woff'),
local('☺'),
url('http://www.ebi.ac.uk/web_guidelines/fonts/EBI-Generic/fonts/EBI-Generic.svg#EBI-Generic') format('svg'),
url('http://www.ebi.ac.uk/web_guidelines/fonts/EBI-Generic/fonts/EBI-Generic.ttf') format('truetype');font-weight:normal;font-style:normal}


@font-face{font-family:'EBI-Species';src:url('http://www.ebi.ac.uk/web_guidelines/fonts/EBI-Species/fonts/EBI-Species.eot');src:url('http://www.ebi.ac.uk/web_guidelines/fonts/EBI-Species/fonts/EBI-Species.eot?#iefix') format('embedded-opentype'),
url('http://www.ebi.ac.uk/web_guidelines/fonts/EBI-Species/fonts/EBI-Species.woff') format('woff'),
local('☺'),
url('http://www.ebi.ac.uk/web_guidelines/fonts/EBI-Species/fonts/EBI-Species.svg#EBI-Species') format('svg'),
url('http://www.ebi.ac.uk/web_guidelines/fonts/EBI-Species/fonts/EBI-Species.ttf') format('truetype');font-weight:normal;font-style:normal}

@font-face{font-family:'EBI-SocialMedia';src:url('http://www.ebi.ac.uk/web_guidelines/fonts/EBI-SocialMedia/fonts/EBI-SocialMedia.eot');src:url('http://www.ebi.ac.uk/web_guidelines/fonts/EBI-SocialMedia/fonts/EBI-SocialMedia.eot?#iefix') format('embedded-opentype'),
url('http://www.ebi.ac.uk/web_guidelines/fonts/EBI-SocialMedia/fonts/EBI-SocialMedia.woff') format('woff'),
local('☺'),
url('http://www.ebi.ac.uk/web_guidelines/fonts/EBI-SocialMedia/fonts/EBI-SocialMedia.svg#EBI-Species') format('svg'),
url('http://www.ebi.ac.uk/web_guidelines/fonts/EBI-SocialMedia/fonts/EBI-SocialMedia.ttf') format('truetype');font-weight:normal;font-style:normal}

.icon-socialmedia:before {font-family: 'EBI-SocialMedia';margin: 0 0.3em 0 0;content: attr(data-icon);color: white;font-size: 100%;}
.icon-conceptual:before {font-family: 'EBI-Conceptual';margin: 0 0.3em 0 0;content: attr(data-icon); color: #7e7e7e;font-size: 180%;}

.icon-species:before {
    font-family: 'EBI-Species';
    font-size: 100%;
    color: white;
    content: attr(data-icon);
    margin: 0 0 0 0;
}
.icon {
    text-decoration: none;
    font-style: normal;
}

.icon-static:before, .icon-generic:before {
    font-family: 'EBI-Generic';
    font-size: 100%;
    color: #BBB;
    content: attr(data-icon);
    margin: 0 0 0 0;
}

.icon-functional:before {
    font-family: 'EBI-Functional';
    font-size: 100%;
    color: white;
    content: attr(data-icon);
    margin: 0 0.3em 0 0;
}
/*****************************************END EBI font*******************************************************/
