.experiment-card {
    border: #777 solid 1px;
    margin-bottom: 0.5rem;
    padding: 0.25rem;
}

.experiment-card:hover {
    background-color: #eaeaea;
}

button.read-more {
    cursor: pointer;
    color: #222;
    border-bottom-width: 1px;
    border-bottom-style: dotted;
    border-bottom-color: inherit;
}