<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>
        <RollingFile name="DailyRollingFile" fileName="${sys:catalina.base}/logs/atlas.log" filePattern="${sys:catalina.base}/logs/atlas-%d{yyyy-MM-dd}.log">
            <PatternLayout>
                <Pattern>%d %-5p [%t] %C{2} (%F:%L) - %m%n</Pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
            </Policies>
        </RollingFile>
    </Appenders>

    <Loggers>
        <Logger name="uk.ac.ebi.atlas" level="info" additivity="false">
            <AppenderRef ref="DailyRollingFile"/>
        </Logger>

        <Logger name="uk.ac.ebi.atlas.web.interceptors.AdminInterceptor" level="info" additivity="false">
            <AppenderRef ref="DailyRollingFile"/>
        </Logger>

        <Root level="error">
            <AppenderRef ref="DailyRollingFile"/>
        </Root>
    </Loggers>
</Configuration>


