/*
  Colour palette: EMBL-EBI Petrol
*/

a {
    color: #222;
}

dl dt a,
a.label,
.label,
a:hover,
a:focus,
a:active {
    color: rgb(0,124,130);
}

h1 { color: #f7f7f7; }
h2 { color: rgb(0,124,130); }
h3 { color: #444444; }

a.special { background-color: #7cd17c; }

.menu .active > a,
.tag,
.tabs-title > a:hover,
.button,
.button.primary {
    background-color: rgb(0,124,130);
}
a.tag:hover { color: #fff; }

.tabs-title > a:hover,
.button.primary:hover,
.button.primary:focus,
.button.hover,
.button:hover,
.button:focus,
.button:active { background: rgba(0,124,130,.9); }

.tabs-title > a:focus,
.tabs-title > a[aria-selected='true'] {
    color: #fff;
    background: #666; }

div#local-masthead { background-color: rgb(0,124,130); }

/* end */