#atlasAnalyticsSearchFacetContainer ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

/*SEARCH BOX*/
#search_result_pg table.gxaFormGrid {width: inherit; padding:0; border:none; margin: 0 9px;}/* make it work with grid*/

/*FILTER*/
#search_result_pg #atlasAnalyticsSearchFacetContainer .filter_container {padding:0 9px;}
#search_result_pg #atlasAnalyticsSearchFacetContainer .filter_container h3 {padding-left:0;}
#search_result_pg #atlasAnalyticsSearchFacetContainer .filter_container .facet_item {padding:0 0 9px 0;}
#search_result_pg #atlasAnalyticsSearchFacetContainer .filter_container .facet_item ul li span {display:inline-block;/*IMPORTANT TO KEEP FOR SPAN make first-letter work*/ }
#search_result_pg #atlasAnalyticsSearchFacetContainer .filter_container .facet_item ul li span:first-letter  {text-transform: capitalize;}
#search_result_pg #atlasAnalyticsSearchFacetContainer .filter_container .facet_item:nth-child(3) ul li span {font-style: italic;} /*target species facet*/
#search_result_pg #atlasAnalyticsSearchFacetContainer .filter_container .facet_item h4 {font-weight: bold;font-size: 144%;text-transform: capitalize; padding-left:0;  margin-bottom: 9px;}
#search_result_pg #atlasAnalyticsSearchFacetContainer .filter_container ul li  {padding:1px 0; }
/*Responsive*/
@media (max-width: 768px) {
    .hidden-xs {display: none!important;} /*remove column like filter for small devices*/
}
/*GAL TABLE*/
table.table-striped tr:nth-child(even) {background-color: #f9f9f9;}
table.table-striped tr:nth-child(odd) {background: #FFF;}
/*TABLE*/
#search_result_pg .searchterm_det {margin-bottom:9px;}
#search_result_pg #atlasAnalyticsSearchDiffResultsContainer table th {font-size: 90%; border-top: 0px #ddd solid;border-left: 0px #ddd solid; border-right: 0px #ddd solid; border-bottom: 2px solid #ddd;vertical-align: bottom;}
#search_result_pg #atlasAnalyticsSearchDiffResultsContainer table tr td {padding: 8px; line-height: 1.42857143; vertical-align: top; border-top: 1px solid #ddd}
#search_result_pg #atlasAnalyticsSearchDiffResultsContainer table tr td.col_count {min-width: 46px;}
/* #search_result_pg #atlasAnalyticsSearchDiffResultsContainer table tr td.col_species {min-width: 162px;font-style: italic;} TEMP for species column, text version*/
#search_result_pg #atlasAnalyticsSearchDiffResultsContainer table tr td.col_species span.icon-species {  font-size: 300%; margin-left: 4px;}
#search_result_pg #atlasAnalyticsSearchDiffResultsContainer table tr td.col_species span.icon-species.red:before {color:#d9534f;} /*animal*/
#search_result_pg #atlasAnalyticsSearchDiffResultsContainer table tr td.col_species span.icon-species.green:before {color:#5cb85c;}/*plants*/
#search_result_pg #atlasAnalyticsSearchDiffResultsContainer table tr td.col_species span.icon-species.blue:before {color:#5bc0de;}/*other*/
/*BOOTSTRAP addition*/
.nav-tabs li a:hover { color: #777;}
.nav-tabs li a {color: #207a7a; text-decoration: none;}
.nav-tabs > li.active > a {outline:0;}
.tab-pane h3 {margin-top: 18px;}
/*BOOTSTRAP import*/
/*TABS*/
.nav {padding-left: 0; margin-bottom: 0; list-style: none;}
.nav > li {position: relative; display: block;}

.nav > li > a {    position: relative;
    display: block;
    padding: 10px 15px;
}
.nav > li > a:hover,
.nav > li > a:focus {
    text-decoration: none;
    background-color: #eee;
}
.nav  li.disabled  a {color: red;}
.nav  li.disabled  a:hover, .nav > li.disabled > a:focus {color: #777;  text-decoration: none; cursor: not-allowed;  background-color: transparent;}
.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus {
    background-color: #eee;
    border-color: #337ab7;
}
.nav .nav-divider {
    height: 1px;
    margin: 9px 0;
    overflow: hidden;
    background-color: #e5e5e5;
}
.nav > li > a > img {
    max-width: none;
}
.nav-tabs { border-bottom: 1px solid #ddd;}
.nav-tabs > li {float: left; margin-bottom: -1px;}
.nav-tabs > li > a {margin-right: 2px; line-height: 1.42857143;  border: 1px solid transparent; border-radius: 4px 4px 0 0;}
.nav-tabs > li > a:hover {border-color: #eee #eee #ddd;}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {color: #555;cursor: default; background-color: #fff; border: 1px solid #ddd; border-bottom-color: transparent;}

/*tab content*/
.tab-content > .tab-pane {display: none;}
.tab-content > .active {display: block;}

.nav:after {clear: both;} /*IMPORTANT for alignment*/
.nav:after, .nav:before { display: table; content: " ";}/*IMPORTANT for alignment*/
.nav-tabs .disabled {   margin-right: 2px;  line-height: 1.42857143; border-radius: 4px 4px 0 0; padding: 10px 15px;color:#dedede;background-color: #fff;  border: 1px solid #ddd;  border-bottom-color: transparent;}
