#ensembl-launcher-box {
    border: 1px solid #cdcdcd;
    text-align: center;
}

#ensembl-launcher-box-ensembl, #ensembl-launcher-box-gramene {
    padding: 4px 9px;
}

#ensembl-launcher-box-ensembl label, #ensembl-launcher-box-gramene label {
    font-weight: bold;
    font-family: Helvetica, sans-serif;
    font-size: 14px;
}

#ensembl-launcher-box-ensembl button, #ensembl-launcher-box-gramene button {
    display: table;
    margin: 0 auto;
    font-size: 14px;
}

.gxaEnsemblGrameneLauncherHeader {

    padding-bottom: 6px;
}
