.gxaGeneNameTooltip {
    border: solid transparent;
    color: darkslategray;
    padding: 2px;
    font: 10px Verdana, Helvetica, Arial, sans-serif;
    background: floralwhite;
}

span.gxaGenePropertyLabel {
    color: brown;
    font-weight: bold;
    display: inline-block;
    text-align: left;
}

.gxaPropertyValueMarkup {
    text-align: center;
    background-color: rgb(223, 213, 213);

}

.gxaGeneNameTooltip {
    text-align: justify;
}