/*Responsive*/
@media (max-width: 768px) {
    .hidden-xs {display: none!important;} /*remove column like filter for small devices*/
}

/* Facets-tree container */
.atlasFacetedSearchFacetsContainer ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.atlasFacetedSearchFacetsContainer {padding:0 9px;}
.atlasFacetedSearchFacetsContainer  h3 {padding-left:0;}
.atlasFacetedSearchFacetsContainer .atlasFacetedSearchFacetItem {padding:0 0 9px 0;}
.atlasFacetedSearchFacetsContainer .atlasFacetedSearchFacetItem ul li span {display:inline-block;/*IMPORTANT TO KEEP FOR SPAN make first-letter work*/ }
.atlasFacetedSearchFacetsContainer .atlasFacetedSearchFacetItem ul li span:first-letter  {text-transform: capitalize;}
.atlasFacetedSearchFacetsContainer .atlasFacetedSearchFacetItem:nth-child(3) ul li span {font-style: italic;} /*target species facet*/
.atlasFacetedSearchFacetsContainer .atlasFacetedSearchFacetItem h4 {font-weight: bold;font-size: 144%;text-transform: capitalize; padding-left:0;  margin-bottom: 9px;}
.atlasFacetedSearchFacetsContainer ul li  {padding:1px 0; }
