/*Responsive*/
@media (max-width: 768px) {
    .hidden-xs {display: none!important;} /*remove column like filter for small devices*/
}

/* Facets-tree container */
.gxaFacetedSearchFacetsContainer ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.gxaFacetedSearchFacetsContainer {padding:0 9px;}
.gxaFacetedSearchFacetsContainer  h3 {padding-left:0;}
.gxaFacetedSearchFacetsContainer .gxaFacetedSearchFacetItem {padding:0 0 9px 0;}
.gxaFacetedSearchFacetsContainer .gxaFacetedSearchFacetItem ul li span {display:inline-block;/*IMPORTANT TO KEEP FOR SPAN make first-letter work*/ }
.gxaFacetedSearchFacetsContainer .gxaFacetedSearchFacetItem ul li span:first-letter  {text-transform: capitalize;}
.gxaSpeciesFacet li span {font-style: italic;} /*target species facet*/
.gxaFacetedSearchFacetsContainer .gxaFacetedSearchFacetItem h4 {font-weight: bold;font-size: 144%; padding-left:0;  margin-bottom: 9px;}
.gxaFacetedSearchFacetsContainer .gxaFacetedSearchFacetItem h4:first-letter {text-transform: capitalize;}
.gxaFacetedSearchFacetsContainer ul li  {padding:1px 0; }
.gxaFacetedSearchFacetsContainer .gxaFacetedSearchFacetItem .gxaDisabledFacet span {color: gray;}
