/*Responsive*/
@media (max-width: 768px) {
    .hidden-xs {display: none!important;} /*remove column like filter for small devices*/
}

/* Facets-tree container */
.gxaFacetsContainer ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.gxaFacetsContainer {padding:0 9px;}
.gxaFacetsContainer  h3 {padding-left:0;}
.gxaFacetsContainer .gxaFacetItem {padding:0 0 9px 0;}
.gxaFacetsContainer .gxaFacetItem ul li span:first-letter  {text-transform: capitalize;}
.gxaSpeciesFacet li span {font-style: italic;} /*target species facet*/
.gxaFacetsContainer .gxaFacetItem h4 {font-weight: bold;font-size: 144%; padding-left:0;  margin-bottom: 9px;}
.gxaFacetsContainer .gxaFacetItem h4:first-letter {text-transform: capitalize;}
.gxaFacetsContainer ul li  {padding:1px 0; }
.gxaFacetsContainer .gxaFacetItem .gxaDisabledFacet span {color: gray;}
