
/*.aqm1 { }*/
/*.aqm2 { }*/
/*.aqm3 { }*/
/*.aqm4 { }*/
/*.aqm5 { }*/
/*.aqm6 { }*/
/*.aqm7 { }*/
/*.aqm8 { }*/
/*.aqm9 { }*/

#qc-content {
    padding-top: 11px;
    padding-left: 2%;
    padding-right: 2%;
    font-family: helvetica, arial, sans-serif;
    font-size: 10pt;
    background-color: #ffffff;
    text-align: justify;
}

#qc-content table {
    text-align: center !important;
    border-collapse: collapse;
    margin-left: 0px;
    margin-right: auto;
    background-color: #ffffff;
    border-width:1px !important;
    border-style: solid;
    border-color: #000000;
    font-family: helvetica, arial, sans-serif;
    font-size: small;
}

#qc-content table td {
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 2px;
    padding-right: 2px;
}

#qc-content h1 {
   text-align: center !important;
   font-family: helvetica, arial, sans-serif !important;
}

#qc-content h2, #qc-content h3 {
   font-family:helvetica, arial, sans-serif;
}

#qc-content li.tocsection {
   font-weight:bold;
   font-family:helvetica, arial, sans-serif;
   font-size:12pt
}
#qc-content li.tocmodule {
   font-family:helvetica, arial, sans-serif;
   font-size:11pt
}

/********** FAST QC REPORTS STYLE *************/

#fast-qc-content {
    padding-top: 11px;
    padding-left: 2%;
    padding-right: 2%;
    font-family: helvetica, arial, sans-serif;
    font-size: 10pt;
    background-color: #ffffff;
    text-align: justify;
}

#fast-qc-content div.table_wrapper {
    float: left;
    display: block;
    height: auto;
    width: 100%;
    overflow-x:auto;
    margin-top: 10px;
    margin-bottom: 20px;
}

#fast-qc-content table {
    width: auto;
    text-align: center !important;
    border-collapse: collapse;
    margin-right: auto;
    margin-top: 10px;
    background-color: #ffffff;
    border-width:1px !important;
    border-style: solid;
    border-color: #000000;
    font-family: helvetica, arial, sans-serif;
    font-size: small;
}

#fast-qc-content table.info tr:nth-child(odd) { background-color:white; }
#fast-qc-content table.info tr:nth-child(even) { background-color:white; }
#fast-qc-content table.info tr:first-child {
    background-color: white;
    font-weight: normal;
}

#fast-qc-content tr:nth-child(odd) { background-color:white; }
#fast-qc-content tr:nth-child(even) { background-color:#d0d0ff; }

#fast-qc-content table td {
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 2px 2px 2px 2px;
    vertical-align: top;
    text-align: right;
    white-space: nowrap;
}

#fast-qc-content td:first-child {
    font-family: Arial, Helvetica,Times, Helvetica, sans-serif;
    font-size: 10pt;
    text-align: left;
    font-weight: bold;
    padding: 2px;
}

#fast-qc-content div#content {
    text-align: left;
    padding: 10px;
}


#fast-qc-content DIV.dplot {
    width: auto;
    height: 900px;
    margin: 10px;
    overflow-x: auto;
}

#fast-qc-content DIV.dplot img {
    width: auto;
    height: 900px;
    margin: 0px;
}

#fast-qc-content div.summary div.header div.main img {
    width: auto;
    height: 500px;
    margin: 0px;
}

#fast-qc-content DIV.downbar {
    float: left;
    text-align: left;
    width: 150px;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 30px;
    font-size: 10pt;
    border: 1px solid #ccc;
    border-radius: 5px;
    background: #f6f6f6;
    font-weight: bold;
    color: #1c94c4;
    display: none !important;
}

#fast-qc-content A.download {
    color: #1c94c4;
    background: white;
    padding:2px 5px;
    font-size: 12px;
    font-weight: bold;
    border-radius: 5px;
    text-decoration: none;
}

#fast-qc-content div#footer {
    width:100%;
    float:left;
    background:gray;
    border: 5px;
    padding: 5px;
    text-align: center;
    font-size: 10pt;
    margin-top: 30px;
}

#fast-qc-content div#footer p {
    text-align: center;
    font-style: normal;
    font-family: Arial, Helvetica, sans-serif; font-size: 10pt;

}

/********** INFO SECTION ***********/

#fast-qc-content A.button {
    color: white;
    background: gray;
    padding:2px 5px;
    font-weight: bold;
    text-decoration: none;
}

#fast-qc-content A.button_info {
    color: rgb(255, 82, 0) !important;
    vertical-align: top;
    font-size: 10px !important;
    font-weight: bold !important;
    font-family: Verdana, Helvetica, Arial, sans-serif !important;
    background: rgba(250, 250, 202, 0.28);
}

#fast-qc-content div.info_wrapper {

    text-align: left;
}

#fast-qc-content .black_overlay{
    display: none;
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: darkgray;
    z-index:1001;
    -moz-opacity: 0.8;
    opacity: 0.80;
}
/*    filter: alpha(opacity=80); IE */

#fast-qc-content .info_content {
    display: none;
    position: relative;
    top: 25%;
    left: 25%;
    width: 50%;
    height: 50%;
    padding: 16px;
    border: 8px solid black;
    background-color: white;
    z-index:1002;
    overflow: auto;
}

#fast-qc-content .info_content P {
    text-align: left;
}
