.gxaBody {
    min-width: 975px;
}

img {
    margin: 0 !important; /* overrides ebi-visual.css */
}

h1 {
    color: #207A7A; /* overrides embl-petrol-colours.css */
}

.gxaBody td {
    padding: 5px; /* overrides ebi-visual.css */
}

.gxaBody form label {
    margin-right: 0;
}

#local-title a {
    color: black !important;
    text-shadow: none !important;
}

#local-search fieldset {
    background-color: transparent !important;
    border: none;
}

a.help-icon {
    color: darkorange;
    vertical-align: top;
    font: 10px Verdana, Helvetica, Arial, sans-serif;
    font-weight: bold;
    border: 0;
}

.gxaHelpTooltip {
    background: white !important;
    border: 1px solid cornflowerblue !important;
    padding: 4px;
    color: cornflowerblue !important;
    font: 10px Verdana, Helvetica, Arial, sans-serif;
}

.ui-button-text {
    text-align: center;
}
