/* browse baseline/plant experiments */
.species-nav .species_item {min-height: 340px; text-align: center;}
.species-nav .species_item h4 {text-align: center;}
.species-nav .species_item ul li {text-align: center;font-size: 94%;}
.species-nav .species_item span {font-size: 700%;/*fallback*/font-size: 5.1vw}
.species-nav .species_item span.red:before {color:#d9534f;} /*animal*/
.species-nav .species_item span.green:before {color:#5cb85c;}/*plants*/
.species-nav .species_item span.blue:before {color:#5bc0de;}/*other*/
.show_more_buttons {text-align: center; margin-top:9px;}

@media (max-width: 768px){
    /*min size for title and icon*/
    .species-nav .species_item span {font-size: 300%;}/*min-size for icons*/
    /* to implement once the min-width is removed
    #species-nav .species_item {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    } */
}
