#experiments-table {
    border-width: 1px;
    border-color: lightgrey;
}

#experiments-table td.italic {
    font-style: italic;
}

#experiments-table tr.odd {
    background-color: #FAFAFA;
}

#experiments-table tr.even {
    background-color: #FFFFFF;
}

#experiments-table td {
    vertical-align: middle;
    text-align: center;
    border-left: 0;
    border-right: 0;
    border-bottom-color: lightgrey;
    border-top-color: lightgrey;
}

#experiments-table th {
    padding: 3px 18px 3px 10px;
    background-color: #EDF6F6;
    border-style: none; /* Override ebi-visual.css */
    vertical-align: middle;
    text-align: center;
    border-bottom-color: lightgrey;
    border-top-color: lightgrey;
}

#experiments-table select {
    height: 26px;
}

#experiments-table tfoot input {
    margin: 0.5em 0;
    width: 100%;
    /*color: grey;*/
}

#experiments-table tfoot input.search_init {
    color: grey;
}
