#experiment-design-table {
    border-width: 1px;
    border-color: lightgrey;
}

#experiment-design-table th, td {
    border: none; /* Override ebi-visual.css */
    text-align: center;
}

.gxaBT {
    border-top: 1px solid #cdcdcd !important;
}

.gxaBR {
    border-right: 1px solid #cdcdcd !important;
}

.gxaBB {
    border-bottom: 1px solid #cdcdcd !important;
}

.gxaBL {
    border-left: 1px solid #cdcdcd !important;
}

.gxaHeaderCellNoHover, .gxaHeaderCell {
    background-color: rgb(237, 246, 246) !important;
    font-weight: bold;
    padding-left: 5px;
    padding-right: 5px;
}

.gxaHeaderCell:hover {
    background-color: #deebeb !important;
    cursor: pointer;
    *cursor: hand;
}

.gxaNoTextButton {
    border: 1px solid #ccc !important; /* overrides ebi-visual.css */
}

.gxaNoTextButton .ui-button-text {
    padding: 2px;
}
