table.gxaAnalysisGrid {
    border: 0;
    border-collapse: collapse;
}

table.gxaAnalysisGrid thead {
    display: none;
}

table.gxaAnalysisGrid td {
    border: 1px solid #cdcdcd;
}

td.gxaHorizontalHeaderCell {
    background-color: #EDF6F6;
}

td.gxaHorizontalHeaderCell label {
    font-weight: bold;
}