th {
    border-style: none; /* Override ebi-visual.css */
}

.gxaBT {
    border-top: 1px solid #cdcdcd !important;
}

.gxaBR {
    border-right: 1px solid #cdcdcd !important;
}

.gxaBB {
    border-bottom: 1px solid #cdcdcd !important;
}

.gxaBL {
    border-left: 1px solid #cdcdcd !important;
}

.gxaHeaderCellNoHover, .gxaHeaderCell {
    background-color: rgb(237, 246, 246) !important;
    font-weight: bold;
    padding-left: 5px;
    padding-right: 5px;
}

/* needed for span inside header-cell that is added by React */
.gxaHeaderCellNoHover, .gxaHeaderCell span {
    font-weight: bold;
}

.gxaHeaderCell:hover {
    background-color: #deebeb !important;
    cursor: pointer;
    *cursor: hand;
}

.gxaClear {
    clear: both;
}



#atlas-content tfoot th {
    background-color: rgb(237, 246, 246) !important;
}

#atlas-content tfoot input {
    margin: 0.5em 0;
    width: 100%;
    color: #444;
}

#atlas-content tfoot input.search_init {
    color: #999;
}

