#gxaExperimentHeader table {
    border: none;
    width: auto;
    margin: 0 9px 0 auto;
}

#gxaExperimentHeader table td {
    border: none;
    padding: 2px;
}

#gxaExperimentHeader .ui-button {
    border: 1px solid #ccc;
}

#gxaExperimentHeader .ui-button-text {
    padding: 2px;
    margin: 0;
}

#gxaExperimentHeader .ui-button-text img {
    margin: 0; /* overrides ebi-visual.css */
}