table.gxaFormGrid {
    width: 100%;
    border-width: 2px;
}

#prefForm {
    padding: 0; /* overrides ebi-visual.css */
}

table.gxaFormGrid label {
    font-weight: bold;
}

table.gxaFormGrid td {
    padding-top: 2px;
    padding-bottom: 2px;
    border: none;
}

table.gxaFormGrid #organism {
    height: 30px;
}

table.gxaFormGrid .gxaSearchExamples {
    font-size: 95%;
}

table.gxaFormGrid .gxaHomeSearchActionButtons input.ui-button, table.gxaFormGrid .gxaExperimentRequestPreferencesActionButtons input.ui-button {
    min-width: 80px;
}