.gxaBioEntityCardDifferentialSummary {
    border: 1px solid gold;
    color: orange;
    font-weight: bold;
    display: block;
    margin-top: 2px;
    min-height: 0;
    padding: 0.5em 0.5em 0.5em 0.7em;
    position: relative;
    width: 100%;
}

.gxaGradientLevelMin {
    text-align: right;
    font-size: smaller;
}

.gxaGradientLevelMax {
    text-align: left;
    font-size: smaller;
}

.gxaNoTextButton {
    border: 1px solid #ccc !important; /* overrides ebi-visual.css */
}

.gxaNoTextButton .ui-button-text {
    padding: 2px;
}

.gxaHeatmapMatrixTopLeftCorner {
    position: relative;
    display: table;
    height: 110px;
    width: 100%;
    min-width: 160px;
}

.gxaTableGrid {
    color: #404040;
    background-color: white;
    border: 1px solid #cdcdcd !important;
    border-spacing: 0;
    empty-cells: show;
    height: 100%;
    text-align: left;
    width: auto;
    border-collapse: collapse;
    margin: 0;
}

.gxaTableGrid>tbody>tr>td, .gxaTableGrid>thead>tr>td {
    color: #3D3D3D;
    vertical-align: middle;
    border: 1px solid #cdcdcd !important;
    height: 25px;
    width: 25px;
    white-space: nowrap;
}

th.gxaVerticalHeaderCell, .gxaHorizontalHeaderCell {
    font-weight: normal;
    background-color: rgb(237, 246, 246) !important;
}

th.gxaHoverableHeader:hover, th.gxaHeaderHover {
    background-color: #deebeb !important;
}

th.gxaSelectableHeader:hover {
    cursor: pointer;
}

th.gxaVerticalHeaderCell-selected, th.gxaVerticalHeaderCell-selected:hover, th.gxaHorizontalHeaderCell-selected, th.gxaHorizontalHeaderCell-selected:hover {
    background-color: rgb(181, 234, 234) !important;
    border: 1px solid #cdcdcd;
    padding:5px;
}

th.gxaHorizontalHeaderCell {
    border: 1px solid #cdcdcd;
    white-space: nowrap;
    padding:5px;
    text-align: left !important;
}

tr.gxaProteomicsExperiment td.gxaHorizontalHeaderCell {
    background-color: rgb(210, 233, 233) !important;
}

tr.gxaProteomicsExperiment td.gxaHorizontalHeaderCell-selected, tr.gxaProteomicsExperiment td.gxaHorizontalHeaderCell:hover {
    background-color: rgb(200, 220, 220) !important;
}

.gxaHeatmapCell {
    font-size: 9px;
    background-color: white;
    margin: 4px;
    padding: 2px;
    white-space: nowrap;
    text-align: center;
}

th.gxaHeatmapTableDesignElement {
    font-weight: normal;
    text-align: left;
    border: 1px solid #CDCDCD;
}

.gxaHeatmapCountAndLegend {
    background: white;
}

.gxaShowCell {
    background-color: white;
    white-space: nowrap;
    text-align: center;
    margin: 4px;
    padding: 2px;
    font-size: 10px;
}

.gxaHideCell {
    display: none;
    visibility: hidden;
}

.gxaContrastTooltip {
    border: solid transparent;
    color: darkslategray;
    padding: 2px;
    font: 10px Verdana, Helvetica, Arial, sans-serif;
    max-width: 500px;
}

.gxaContrastTooltip table {
    background-color: white;
    border: 1px solid lightgrey;
    border-collapse: collapse;
}

.gxaContrastTooltip th {
    border-bottom: 1px solid lightgrey;
    background-color: floralwhite;
}

.gxaContrastTooltip td {
    border: 1px solid lightgrey;
}

.gxaContrastTooltip td, .gxaContrastTooltip th {
    vertical-align: middle;
    padding: 8px;
}
