/* start of sticky things */

.container {
    margin: 20px auto;
    /*width: 960px;*/
}

.row {
    /*
    border-bottom: 1px solid #ccc;
    margin-bottom: 40px;
    padding-bottom: 40px;
    */
    position: relative;
}

.row:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}

.content {
    position: relative;
    margin-left: 300px;
}

.aside {
    float: left;
    /*padding: 0 20px;*/
}

.stickit {
    margin-right: 600;
    position: fixed;
    top: 0;
}

.stickit-end {
    bottom: 40px;
    position: absolute;
    /*right: 0;*/
}

/* end of sticky things */

.gradient-level-min {
    text-align: right;
    width: 30px;
}

.gradient-level-max {
    text-align: left;
    width: 30px;
}

.heatmap-matrix-top-left-corner {
    position: relative;
    display: table;
    height: 100%;
    width:100%;
}
