
.aqm1 { }
.aqm2 { }
.aqm3 { }
.aqm4 { }
.aqm5 { }
.aqm6 { }
.aqm7 { }
.aqm8 { }
.aqm9 { }
.aqm10 { }
.aqm11 { }
.aqm12 { }
.aqm13 { }
.aqm14 { }
.aqm15 { }
.aqm16 { }
.aqm17 { }
.aqm18 { }
.aqm19 { }
.aqm20 { }

table {
    border-collapse: collapse;
    background-color: #ffffff;
    border-color: #ffffff;
    font-size: small;
}

table td {
    padding: 0px 2px;
}

li.tocsection {
   font-weight:bold;
   font-size:12pt
}
li.tocmodule {
   font-size:11pt
}
