
.aqm1 { }
.aqm2 { }
.aqm3 { }
.aqm4 { }
.aqm5 { }
.aqm6 { }
.aqm7 { }
.aqm8 { }
.aqm9 { }
.aqm10 { }
.aqm11 { }
.aqm12 { }
.aqm13 { }
.aqm14 { }
.aqm15 { }
.aqm16 { }
.aqm17 { }
.aqm18 { }
.aqm19 { }
.aqm20 { }

#qc-content h1 {
    text-align: center;
}

#arraymetadata-b table {
    width: 100%;
}

h1 {
    text-align: center;
}

table {

    border-collapse: collapse;
    background-color: #ffffff;
    border-color: #ffffff;
    font-size: small;
    width: auto;
}

table td {
    padding: 0 2px;
    border: none;
}

li.tocsection {
   font-weight: bold;
   font-size: 12pt
}
li.tocmodule {
   font-size: 11pt
}
