#masthead {
    background-size: cover;
}

#publications-list .icon {
    font-size: 3em;
}

#latest-experiments .media-object-section:first-child {
    padding-right: 0;
}

a.clear {
    border: none;
}

ul.clear {
    list-style: none;
    margin-left: unset;
}

.button.no-action {
    cursor: default;
}

.button.fixed-width-medium {
    width: 80px;
}

hr {
    border-bottom: 1px solid lightgrey;
}
