#masthead {
    background-size: cover;
}

#publications-list .icon {
    font-size: 3em;
}

#latest-experiments .media-object-section:first-child {
    padding-right: 0;
}

a.clear {
    border: none;
}

ul.clear {
    list-style: none;
    margin-left: unset;
}

.button.no-action {
    cursor: default;
}

.button.fixed-width-medium {
    width: 120px;
}

hr {
    border-bottom: 1px solid lightgrey;
}

/* Override EBI VF styles for components that use React-Select */
#gene-search input, #experiment-page input, #search-form input {
    height: unset;
    box-shadow: none;
    margin: 0;
}

/* Fix for Highcharts tooltip being cut off */
#experiment-page .highcharts-container {
    overflow: visible !important;
}
#experiment-page svg {
    overflow: visible !important;
}

/* Match margin set by React-Select components */
#experiment-page .gene-search-container {
    margin-bottom: 1rem;
}