/* the search form */
.searchform {
    margin-top: 15px;
}

.searchform table {
    border-collapse: collapse;
    border: none;
    margin: 0;
    padding: 0;
}

.searchform td {
    padding: 0 0 5px 5px;
    border: none;
    vertical-align: top;
}

.searchform fieldset {
    padding: 7px;
    margin: 10px 0;
    border: 1px solid #DEDEDE;
}

.searchform fieldset.top {
    margin-bottom: 10px;
}

.searchform legend {
    font-weight: bold;
    padding-left: 5px;
    padding-right: 5px;
    color: #000
}

.searchform .ignored {
    color: #cc0000;
}

.searchform .label {
    font-size: 10px;
}

.searchform .example {
    font-size: 10px;
    font-style: italic;
}

.searchform select {
    margin-top: 0;
}

#conditions td {
    vertical-align: top;
    white-space: nowrap;
    text-align: left;
    padding: 2px 10px 2px 0;
}

#conditions td.left {
    width: 40%;
}

#conditions td.value {
    width: 50%;
}

#conditions td.rm {
    text-align: right;
    padding: 2px;
    width: 10%;
}

#structform ul.tokeninput li input {
    width: 320px;
}

#structform ul.tokeninput {
    width: 342px;
}

#structform input.value {
    width: 340px;
}

/* help tooltips for the search form */

.atlasHelp {
    display: none;
    text-align: center;
}

.atlasHelp .div1 {
    font-size: 0;
    line-height: 0%;
    width: 0;
    border-bottom: 20px solid #EEF5F5;
    border-left: 10px solid white;
    border-right: 10px solid white;
}

.atlasHelp .div2 {
    background-color: #EEF5F5;
    text-align: left;
    height: 100%;
    width: 140px;
    padding: 5px;
}