table.table-striped tr:nth-child(even) {
    background-color: #f9f9f9;
}

table.table-striped tr:nth-child(odd) {
    background: #FFF;
}

table.gxaDifferentialFacetedSearchResults th, table.gxaDifferentialFacetedSearchResults th span {
    font-weight: bold;
}

table.gxaDifferentialFacetedSearchResults th {
    font-size: 90%;
    border: 0 solid #ddd;
    border-bottom-width: 2px;
    vertical-align: bottom;
}

table.gxaDifferentialFacetedSearchResults tr td {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: middle;
    border-top: 1px solid #ddd
}

table.gxaDifferentialFacetedSearchResults tr td.col_species .react-ebi-species-icon {
    font-size: 300%;
    margin-left: 4px;
}

td.gxaExperimentalVariable {
    text-align: center;
}
