#atlas-content {
    padding-left: 10px;
    padding-right: 10px;
}

#atlas-content ::selection {
    background: rgb(95, 142, 179) !important;
    color: white;
}

#atlas-content table {
    border: none;
    margin: 0;
}

#atlas-content th {
    background-color: transparent;
    text-align: center;
}

#atlas-content td, .rotated-cell {
    border: none;
    margin: 0;
    padding: 2px;
}

#atlas-content td.count {
    padding-left: 10px;
}

#atlas-content form {
    padding: 0;
    margin: 0;
}

#atlas-content form fieldset, #dialog-form form fieldset {
    background-color: transparent;
    padding: 0;
    margin: 0;
}

#atlas-content input, #dialog-form input {
    vertical-align: baseline;
    margin-bottom: inherit !important;
    margin-left: inherit !important;
    margin-right: 0.2em;
    margin-top: inherit !important;
}

#atlas-content textarea, #dialog-form textarea {
    border-color: lightgray;
}

#atlas-content textarea, .chzn-container, #dialog-form textarea {
    font-family: inherit !important;
    font-size: inherit !important;
}

#atlas-content img {
    max-width: none !important;
}

#atlas-content section img {
    margin: 0;
}
