.error {
    color: red;
}

.page-contents {
    padding-left: 3em;
    padding-right: 3em;
    padding-top: 6em;
    padding-bottom: 3em;
}

.block {
    padding: 1em;
    width:900px;
}


#reload-form-table {
    width: 40%;
}

#reload-form-table td {
    background: #f5f5f5;
}
