body {
    font-size: 10px;
    font-family: Verdana, Helvetica, Arial, sans-serif;
}

.error {
    color: red;
}

.page-contents {
    padding-left: 3em;
    padding-right: 3em;
    padding-top: 6em;
    padding-bottom: 3em;
}

.block {
    padding: 1em;
    width:950px;
}


#reload-form-table {
    width: 40%;
}

#reload-form-table td {
    background: #f5f5f5;
}

a:link {text-decoration:none;color:black}    /* unvisited link */
a:visited {text-decoration:none;color:black} /* visited link */
a:hover {text-decoration:underline;color: brown}   /* mouse over link */
a:active {text-decoration:underline;}  /* selected link */

.double-click-noselection{
    -webkit-user-select: none; // webkit (safari, chrome) browsers
    -moz-user-select: none; // mozilla browsers
    -khtml-user-select: none;
    -ms-user-select: none; // IE 10
}

