.form-grid, .table-grid {
    color: #404040;
    background-color: #fafafa;
    border: 1px solid #cdcdcd;
    border-spacing: 0;
    empty-cells: show;
}

.table-grid {
    border-collapse: collapse;
}

.form-grid{
    width: 100%;
}

.form-grid label{
    border: 0px;
    font-weight: bold;
}

.table-grid td {
    color: #3D3D3D;
    vertical-align: middle;
    border: 1px solid #cdcdcd;
    height: 25px;
    width: 25px;
}

.header-cell{
    font-weight: bold;
    width:auto !important;
    padding-left: 5px;
    padding-right: 5px;
}

.table-grid tr:not(:first-child):hover, th:hover {
    background-color: #deebeb;
    color: #404040;
    cursor: default;
}

.rotated_cell {
    height: 110px;
    border: 1px solid #cdcdcd;
    vertical-align: bottom;
    padding-bottom: 10px
}

.rotate_text {
    position: relative;
    top: 20px;
    width: 25px;
    padding-top: 5px;
    white-space: nowrap;
    -moz-transform: rotate(-90deg);
    -moz-transform-origin: top left;
    -webkit-transform: rotate(-90deg);
    -webkit-transform-origin: top left;
    -o-transform: rotate(-90deg);
    -o-transform-origin: top left;
}

.rotate_text_IE {
}


