.species_item {min-height: 250px; text-align: center;}
.species_item h4 {text-align: center;}
.species_item ul li {text-align: center;}
.species_item span {font-size: 700%;}
.species_item span.red:before {color:#d9534f;}   /*animal*/
.species_item span.green:before {color:#5cb85c;} /*plants*/
.species_item span.blue:before {color:#5bc0de;}  /*other*/
.show_more_buttons {margin-top:9px;}
