.gxaContrastTooltip {
    border: solid transparent;
    color: darkslategray;
    padding: 2px;
    font: 10px Verdana, Helvetica, Arial, sans-serif;
    max-width: 500px;
}

.gxaContrastTooltip table {
    background-color: white;
    border: 1px solid lightgrey;
    border-collapse: collapse;
}

.gxaContrastTooltip th {
    border-bottom: 1px solid lightgrey;
    background-color: floralwhite;
}

.gxaContrastTooltip td {
    border: 1px solid lightgrey;
}

.gxaContrastTooltip td, .gxaContrastTooltip th {
    vertical-align: middle;
    padding: 8px;
}
